@charset "utf-8";
/*
 * @Author: 徐横峰 
 * @Date: 2018-07-08 01:21:31 
 * @Last Modified by: Xuhengfeng
 * @Last Modified time: 2018-07-13 00:15:15
 */

/* 头部 */
header{
    width: 100%;
	height: 587px;
	background-color: #F5F5F5;
	background-image: url("../imgs/bg1.png");
	background-repeat: no-repeat;
	background-position: center 0;
	background-attachment: fixed;
	background-size: 1920px 717px;
	padding-top: 40px;
    box-sizing: border-box;
    overflow: hidden;
}
header>div{
    position: relative;
}
header .logo img{
    width: 154px;
    height: 43px;
}
header .logo div{
    width: 57px;
    height: 28px;
    line-height: 28px;
    background: rgba(0,0,0,0.2);
    color: #ffffff;
    text-align: center;
    border-radius: 15px;
    margin: 10px 0 0 13px;
    font-size: 10px;
    cursor: pointer;
}
header nav{
    margin: 0 0  0 70px;
}
header nav ul>li{
    position: relative;
    float: left;
    padding:0 10px;
    font-size: 18px;
    /* height: 40px; */
    cursor: pointer;
}
header nav ul>li>a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}
header nav ul>li:hover>a{
    color: #fe0000;
}
header nav ol{
    display: none;
    padding-top: 10px;
    position: absolute;
}
header nav ol>li{
    width: 80px;
    background: #f5f5f5;
    height: 30px;
    line-height: 30px;
    /* text-align: center; */
    text-indent: 10px;
    border-bottom: 1px solid #a7a7a6;
}
header nav ol>li>a{
    color: #000000;
    font-size: 14px;
}
header nav ol>li:hover>a{
    color: #fe0000;
}
header .location{
    font-size: 10px;
}
/* 用户登录 */
.user-login{
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
    font-size: 18px;
}
.user-login span{
    cursor: pointer;
}

/* 搜索框 */
.search{
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    width: 672px;
}
.search ul{
    overflow: hidden;
    margin-bottom: 20px;
}
.search ul li{
    display: inline-block;
    margin-right: 50px;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}
.search-box{
    position: relative;
    height: 70px;
    line-height: 70px;
    background: #ffffff;
}
.search-box input{
    height: 70px;
    border: none;
}
.search-box .up{
    position: absolute;
    top: -20px;
    display: block;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}
.search-box input[type='text']{
    width: 500px;
    font-size: 18px;
    text-indent: 20px;
}
.search-box input[type='submit']{
    float: right;
    width: 145px;
    height: 70px;
    line-height: 70px;
    background: #fe0000;
    font-size: 18px;
    color: #ffffff;
}

/* 用户登录成功之后 */
.user-login .headerImg{
    height: 25px;
    line-height: 25px;
}
.user-login .headerImg *{
    float: left;
}
.user-login .headerImg img{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}


/* 城市列表 业务地区辐射范围 */
.citylist .shadow{
    display: none;
}
.citylist .dialog{
    position: fixed;
    width: 640px;
    height: 440px;
    top: 50%;
    left: 50%;
    margin-left: -320px;
    margin-top: -220px;
    z-index: 1000;
    background: #ffffff;
    border-radius: 5px;
    padding: 0 30px 30px 30px;
    box-sizing: border-box;
    display: none;
}
.citylist .dialog .modal-hd{
    height: 50px;
    color: #394043;
    border-bottom: 1px solid #dddddd;
}
.citylist .hot{
    margin-top: 10px;
}
.citylist .dialog .modal-hd h1{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 22px;
    font-weight: bold;
}
.citylist .dialog ul>li{
    overflow: hidden;
}
.citylist .dialog ol>li{
    float: left;
    font-size: 14px;
    margin-right: 10px;
    line-height: 40px;
    height: 40px;
    color: #999999;
}
.citylist .dialog li>a{
    color: #394043;
}
.citylist .dialog li>a:hover{
    color: #fe0000;
    text-decoration: underline!important;
}
.modal-bd ul{
    margin-top: 25px;
    height: 100px;
    min-height: 300px;
    overflow: auto;
}
.modal-bd li>ol:first-child{
    float: left;
    color: #999999;
    font-size: 14px;
    height: 40px;
    margin-right: 20px;
    line-height: 40px;
}
.modal-bd li>ol:nth-of-type(2){
    overflow: hidden;
}
.modal-bd .oclose{
    position: absolute;
    top: -19px;
    right: -19px;
    background:url('../imgs/cuo.png') no-repeat center center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}



/* 统计 */
.statistics{
    height: 165px;
    background: #ffffff;
}
.statistics>div>div{
    float: left;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding-left: 200px;
    margin-top: 60px;
}
.statistics p:nth-of-type(1){
    font-size: 28px;
}
.statistics p:nth-of-type(2){
    font-size: 19px;
}
.statistics span{
    font-size: 40px;
    margin-right: 20px;
}

/* 二手好房 */
.section{
    width: 100%;
    padding-top: 45px;
    height: 490px;
    overflow: hidden;
}
.section h1{
    font-size: 29px;
    color: #000000;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 45px;
}
.section h1 span:nth-of-type(1){
    margin: 0 20px 0 10px;
    font-weight: bold;
}
.section h1 span:nth-of-type(2){
    color: #727271;
}
.section h1 a{
    position: absolute;
    top: 0;
    right: 10px;;
    color: #000000;
    font-size: 16px;
}
.section ul{
    height: 300px;
}
.section ul li{
    float: left;
    width: 275px;
    height: 305px;
    margin-right: 20px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    overflow: hidden;
}
.section ul li a{
    color: #000000;
}
.section ul li:last-child{
    margin-right: 0;
}
.section ul li:hover{
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.4);    
}
.section ul li .img{
    width: 275px;
    height: 215px;
    background: #f5f5f5;
    overflow: hidden;
    cursor: pointer;
}
.section ul li .img img{
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.section ul li:hover .img img{
    transform:  scale(1.1);
}
.description{
    padding: 10px;
}
.description .title{
    height: 40px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.description .tags{
    overflow: hidden;
}
.description .tags span{
    font-size: 13px;
}

/* 小区 */
.xiaoqu{
    background: #f5f5f5;
}
.xiaoqu ul li{
    float: left;
    width: 358px;
    margin-right: 45px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
.xiaoqu ul li .img{
    width: 100%;
}

/* 新盘 */
.newdish{
    background: #f5f5f5;
}
.newdish ul li{
    float: left;
    width: 358px;
    margin-right: 45px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
.newdish ul li .img{
    width: 100%;
}
/* 行业资讯 */
.infotrend{
    background: #f5f5f5;
}
.infotrend ul li{
    float: left;
    width: 358px;
    margin-right: 45px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
.infotrend ul li .img{
    width: 100%;
}

/* app 应用下载 */
.appPopularize{
    width: 100%;
	height: 485px;
	background-color: #F5F5F5;
	background-image: url("../imgs/APP.png");
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 1920px 485px;
	padding-top: 40px;
    box-sizing: border-box;
    overflow: hidden;
}
.appPopularize h1{
    font-size: 60px;
    color: #000000;
}
.appPopularize h4{
    font-size: 29px;
    color: #000000;
    font-family: "microsoft yahei light";
    margin-top: 5px;
}
.appPopularize p{
    margin-top: 5px;
    font-size: 15px;
    color: #595757;
}
.appPopularize .button-group{
    margin: 50px 10px 0 0;
}
.appPopularize button{
    display: block;
    border: none;
    margin-bottom: 10px;
}
.appPopularize .qrcode{
    margin-top: 23px;
}


/* 动画 */
.pulse{
    display: block!important;
    -webkit-animation: pulse 1s 0.2s ease;
    animation: pulse 1s 0.2s ease;
}
@-webkit-keyframes pulse{
    0%{transform: scale(0)}
    90%{transform: scale(1.05)}
    100%{transform: scale(1)}
}
@keyframes pulse{
    0%{transform: scale(0)}
    90%{transform: scale(1.05)}
    100%{transform: scale(1)}
}

.bounce{
    display: block!important;
    -webkit-animation: bounce 1s 0.2s ease;
    animation: bounce 1s 0.2s ease;
}
@-webkit-keyframes bounce{
    0%{opacity: 0}
    100%{opacity: 1}
}
@keyframes bounce{
    0%{opacity: 0}
    100%{opacity: 1}
}
   
